.venv
build
smart_green_houses.egg-info
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/smartGreenhouses.iml
/.idea/vcs.xml
